*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
   font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header{
      display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
 background-color: #333;
  position: fixed;
    width: 100%;
    z-index: 1000;
  color: #fff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 28px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.hamburger{
   display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span{
    width: 26px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}